<h1>Instructions</h1>
<ul>
    <li><b>/math/double/{your-number}:</b> doubles your number</li>
    <li><b>/math/square/{your-number}:</b> squares your number</li>
    <li><b>/string/reverse/{your-string}:</b> reverses you string</li>
    <li><b>/string/upcase/{your-string}:</b> upcases your string</li>
</ul>