<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Instructions</h1>
    <ul>
        <h3><li>/math/double/{your-number}: doubles your number</li></h3>
        <h3><li>/math/square/{your-number}: squares your number</li></h3>
        <h3><li>/string/reverse/{your-string}: reverses your string</li></h3>
        <h3><li>/string/upcase/{your-string}: upcases your string</li></h3>
    </ul>
</body>
</html>