<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Calculator</title>
</head>
<body>

    <ul>
        <li> <strong>/math/double/{your number}:</strong> doubles your number</li>
        <li><strong>/math/square/{your number}:</strong>sqaures your number</li>
        <li><strong>/string/reverse/{your string}:</strong> reverses your string</li>
        <li><strong>/string/upcase/{your string}:</strong> upcases your string</li>
    </ul>

   
</body>
</html>



