<ul>
  <li>/math/double/{number}: doubles the #</li>
  <li>/math/square/{number}: squares the #</li>
  <li>/string/reverse/{string}: reverse the str</li>
  <li>/string/upcase/{string}: makes str uppercase</li>
</ul>
