
    <h1>Instructions</h1>

    <ul>
        <li><h3>/math/double/{your-number}: doubles your number</h3></li>
        <li><h3>/math/square/{your-number}: squares your number</h3></li>
        <li><h3>/math/reverse/{your-string}: reverses your string</h3></li>
        <li><h3>/math/upcase/{your-string}: upcases your string</h3></li>
    </ul> 