<h1>Instructions</h1>
<ul>
    <li> <strong>/math/double/{your number}:</strong> doubles your number</li>
    <li><strong>/math/square/{your number}:</strong>squares your number</li>
    <li><strong>/string/reverse/{your string}:</strong> reverses your string</li>
    <li><strong>/string/upcase/{your string}:</strong> upcases your string</li>
</ul> 