<ul>
    <li>/math/double/{your-number}: doubles your number</li>
    <li>/math/square/{your-number}: squares your number</li>
    <li>/string/reverse/{your-string}: reverses your string</li>
    <li>/string/upcase/{your-string}: upcases your string</li>
</ul>