<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css" type="text/css">
    <title>Express Calculator</title>
</head>

<body>
    <nav>
        <a href="/math/double/1">Double</a>
        <a href="/math/square/1">Square</a>
        <a href="/string/reverse/hello">Reverse</a>
        <a href="/string/upcase/hello">Upcase</a>
    </nav>
    <h1>Express Calculator!</h1>
    <a href="/">Instructions</a>
    <%- body %>
</body>

</html>