<%- include('title') %>
<!-- change text -->
<h3>Square</h3> 
<!-- js function below to square the input: -->
<ul>
    <% animals.forEach((animal) => { %>
        <li> <%= animal %> </li>
   <% }) %>
</ul>