<h1>Reverse</h1>
<h2>You inputed "<%= reverse %>". This string reversed is 
                 <% let reverseString = reverse.split('').reverse().join('') %>
                "<%= reverseString %>"
   
 
    </h2>
